# DataRoot University DS100 Test #3
На проходження тесту виділяється 124 хвилини.

## SQL

##### Відповідь до кожного завдання у цьому розділі записувати в наступну пусту строку в форматі sql запиту

### Коротка інформація про базу даних "Кораблі":

Розглядається БД кораблів, які брали участь у Другій світовій війні. Є такі відносини:

- Classes (class, type, country, numGuns, bore, displacement)
- Ships (name, class, launched)
- Battles (name, date)
- Outcomes (ship, battle, result)

```
Кораблі в «класах» побудовані за одним і тим же проектом, і класу привласнюється або ім'я першого корабля, побудованого за даним проектом, або назві класу дається ім'я проекту, яке не збігається ні з одним з кораблів в БД. Корабель, що дав назву класу, називається головним.

Classes містить ім'я класу, тип (bb для бойового (лінійного) корабля або bc для бойового крейсера), країну, в якій побудований корабель, число головних знарядь, калібр знарядь (діаметр ствола знаряддя в дюймах) і водотоннажність (вага в тонах).

У Ships записані назва корабля, ім'я його класу і рік спуску на воду.

У Battles включені назва і дата битви, в якій брали участь кораблі.

Outcomes - результат участі даного корабля в битві (потоплений-sunk, пошкоджений - damaged або неушкоджений - OK).

Зауваження.
1) В Outcomes можуть входити кораблі, які відсутні в Ships.
2) Потоплений корабель в наступних битвах участі не бере.
```

**Дамп**: **[ships_pg_script.sql](https://github.com/dataroot/DRU-DS100-w3/tree/master/tests/3/v2/ships_pg_script.sql)**.

### 1. Для класів кораблів, калібр знарядь яких не менше 16 дюймів, вкажіть клас і країну.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select class, country
    from classes
    where bore >= 16;

### 2. Визначте середнє число знарядь для класів лінійних кораблів. Отримати результат з точністю до 2-х десяткових знаків.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Перетворення типів](http://www.sql-tutorial.ru/ru/book_type_conversion_and_cast_function/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT CAST(AVG(numguns) AS CHAR(4))
FROM Classes
where type = 'bb';

### 3. Вкажіть кораблі, потоплені в боях в Північній Атлантиці (North Atlantic). Вивід: ship.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
* [Предикати (ч.1)](http://www.sql-tutorial.ru/ru/book_predicates_1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select ship
    from outcomes
    where battle = 'North Atlantic' and result = 'sunk';

### 4. За Вашингтонським міжнародним договором від початку 1922 заборонялося будувати лінійні кораблі з водотоннажністю понад 35 тис.тонн. Вкажіть кораблі, які порушили цей договір (враховувати тільки кораблі з відомим роком спуску на воду). Вивести назви кораблів.
```
```
Довідка по темі:
* [Використання в запиті декількох джерел записів](http://www.sql-tutorial.ru/ru/book_using_multiple_tables_in_query.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT s.name
FROM ships s join classes c
	on s.class = c.class
where s.launched >= 1922 and c.type ='bb' and c.displacement > 35000

### 5. Перерахуйте назви головних кораблів, наявних в базі даних (врахувати кораблі в Outcomes).
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
select sh.name
   from classes cl
   join ships sh
     on cl.class = sh.name
union
select ship
   from classes cl
   join outcomes out
       on cl.class = ship;

### 6. Знайдіть класи, в які входить тільки один корабель з бази даних (врахувати також кораблі в Outcomes).
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
select DISTINCT class
	from ships s join
(select name
from (
	select name from ships
	UNION
		select ship from outcomes
) as un
GROUP BY name
having count(name) = 1) u
		on s.name = u.name

### 7. Знайдіть країни, що мали коли-небудь класи звичайних бойових кораблів ('bb') і класи крейсерів ('bc').
```
```
Довідка по темі:
* [Перетин і різниця](http://www.sql-tutorial.ru/ru/book_intersect_except.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бали
Рекомендований час: 3хв
```

In [ ]:
select country
   from classes
   where type = 'bb'
intersect
select country
   from classes
   where type = 'bc';

### 8. Знайдіть кораблі, "збережені для майбутніх битв"; тобто виведені з ладу в одній битві (damaged), вони брали участь в інший, що сталася пізніше.
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Предикат EXISTS](http://www.sql-tutorial.ru/ru/book_exists_predicate.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
select ship
from outcomes o join ships s
	on o.ship = s.name
where  result = 'damaged' and exists
(select ship
from outcomes
where result != 'damaged')

### 9. Знайдіть клас, ім'я та країну для кораблів з таблиці Ships, які мають не менше 10 знарядь.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select sh.class, sh.name, cl.country
    from ships sh
    join classes cl
    on sh.class = cl.class
    where numGuns >= 10;

### 10. Знайдіть назви кораблів, потоплених в битвах, і назви битв, в яких вони були потоплені.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бали
Рекомендований час: 3хв
```

In [ ]:
select o.ship, b.name
from outcomes o JOIN battles b on o.battle = b.name
where o.result = 'sunk'

### 11. Вкажіть битви, які відбулися в роки, що не збігаються ні з одним з років спуску кораблів на воду.
```
```
Довідка по темі:
* [Предикат EXISTS](http://www.sql-tutorial.ru/ru/book_exists_predicate.html)
* [Предикат NOT IN](http://www.sql-tutorial.ru/ru/book_predicate_not_in.html)
* [Використання значения NULL в умовах пошуку](http://www.sql-tutorial.ru/ru/book_using_null_in_search_conditions.html)
* [Функція DATEPART](http://www.sql-tutorial.ru/ru/book_datepart_function.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
select *
from battles
	where DATEPART(date, 'yyyy')
NOT in (
select launched
from ships)

### 12. Знайдіть назви всіх кораблів в базі даних, що починаються з літери R.
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Предикат LIKE](http://www.sql-tutorial.ru/ru/book_predicate_like.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select ship
from outcomes
	where ship like 'R%'
UNION
select name
from ships
	where name like 'R%'

### 13. Знайдіть назви всіх кораблів в базі даних, що складаються з трьох і більше слів (наприклад, King George V). Вважати, що слова в назвах поділяються одиничними пробілами, і немає кінцевих пробілів.
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Предикат LIKE](http://www.sql-tutorial.ru/ru/book_predicate_like.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select name
from ships
where name LIKE '% % %'
union
	select ship
from outcomes
where ship LIKE '% % %'

### 14. Для кожного корабля, який брав участь в битві при Гуадалканалі (Guadalcanal), вивести назву, водотоннажність і число знарядь.
```
```
Довідка по темі:
* [Зовнішні об'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations/page2.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
select s.name, c.displacement, c.numGuns
from outcomes o join ships s on o.ship = s.name
								join classes c on s.class = c.class
where o.battle = 'Guadalcanal'

### 15. Знайдіть класи кораблів, в яких хоча б один корабель був потоплений в битві.
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select class
    from classes cl
    join outcomes out
        on cl.class = out.ship
    where result = 'sunk';

### 16. Знайдіть назви кораблів зі знаряддями калібру 16 дюймів (врахувати кораблі з таблиці Outcomes).
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
select s.name
from ships s join classes c on s.class = c.class
where  c.bore = 16
union
	select o.ship
from outcomes o join classes c on o.ship = c.class
where  c.bore = 16

### 17. Знайдіть назви кораблів, що мають найбільшу кількість знарядь серед всіх наявних кораблів такої ж водотоннажності (врахувати кораблі з таблиці Outcomes).
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Предикати ALL|ANY](http://www.sql-tutorial.ru/ru/book_using_any_all_keywords_with_comparison_predicates.html)
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 9хв
```

In [ ]:
select s.name
from ships s join classes c on s.name = c.class
where c.displacement = ANY
(select max(displacement)
from classes)

UNION
	select o.ship
from outcomes o join classes c on o.ship = c.class
where c.displacement = ANY
(select max(displacement)
from classes)

### 18. Визначити назви всіх кораблів з таблиці Ships, які можуть бути лінійним японським кораблем, мають число головних знарядь не менше дев'яти, калібр знарядь менше 19 дюймів і водотоннажність не більше 65 тис.тонн
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Використання значения NULL в умовах пошуку](http://www.sql-tutorial.ru/ru/book_using_null_in_search_conditions.html)
* [Оператор CASE](http://www.sql-tutorial.ru/ru/book_case_statement.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT *
from ships s join  classes c on s.class = c.class
where type = 'bb' AND country = 'Janan'
and numguns >= 9
and (bore < 19 or bore = NULL)
and (displacement <= 65000 or displacement is null);

### 19.  Однією з характеристик корабля є половина куба калібру його головних знарядь (mw). З точністю до 2 десяткових знаків визначте середнє значення mw для кораблів кожної країни, кораблі якої є в базі даних.
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Перейменування стовпців і обчислення в результуючому наборі](http://www.sql-tutorial.ru/ru/book_renaming_columns_calculations_in_result_set.html)
* [Перетворення типів](http://www.sql-tutorial.ru/ru/book_type_conversion_and_cast_function/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 9хв
```

In [ ]:
SELECT DISTINCT Classes.country, 
 (SELECT AVG( pen.p ) 
 FROM (SELECT (c1.bore*c1.bore*c1.bore)/2 AS p 
 FROM Classes AS c1, Ships AS s1
 WHERE c1.class = s1.class AND 
 c1.country = Classes.country AND 
 c1.bore IS NOT NULL
 UNION ALL
 SELECT (c2.bore*c2.bore*c2.bore)/2 
 FROM Classes AS c2, Outcomes 
 WHERE c2.country = Classes.country AND 
 c2.class = Outcomes.ship AND 
 c2.bore IS NOT NULL AND 
 Outcomes.ship NOT IN (SELECT ss.name 
 FROM Ships AS ss
 )
 ) AS pen 
 WHERE pen.p IS NOT NULL
 ) AS weight
FROM Classes
WHERE Classes.country IS NOT NULL;

### 20.  Для кожної дати битви (date1) взяти дату наступної в хронологічному порядку битви (date2), а якщо такої дати немає, то поточну дату. Визначити на дату date2 вік людини, яка народилась в дату date1 (число повних років і повних місяців).

Зауваження:
1. Вважати, що повне число місяців виповнюється в дату дня народження, або раніше, за умови, що більш пізніх дат в шуканому місяці немає;
за повний рік приймаються 12 повних місяців; всі битви відбулися в різні дати і до сьогоднішнього дня.
2. Дати представити без часу в форматі "yyyy-mm-dd", вік в форматі "Y y., M m.". Не виводити рік або місяць якщо вони рівні 0, для віку менше 1 міс. виводити порожній рядок.

Вивід: вік, date1, date2.
```
```
Довідка по темі:
* [Функція IIF](http://www.sql-tutorial.ru/ru/book_case_statement/page4.html)
* [OUTER APPLY](http://www.sql-tutorial.ru/ru/book_cross_apply.html)
* [Оператор COALESCE](http://www.sql-tutorial.ru/ru/book_case_statement/page2.html)
* [Функція NULLIF](http://www.sql-tutorial.ru/ru/book_case_statement/page3.html)
```
```
```
```
```
```
```
Максимальна оцінка: 5 балів
Рекомендований час: 15хв
```

## NoSQL

##### Відповідь до кожного завдання у цьому розділі записувати в наступну пусту строку в форматі MongoDB NoSQL запиту. Тобто: 
```
db.[collection_name].[action](query_params, ..).
```

Структура документу в колекції restaurants:
```
{
  "address": {
     "building": "1007",
     "coord": [ -73.856077, 40.848447 ],
     "street": "Morris Park Ave",
     "zipcode": "10462"
  },
  "borough": "Bronx",
  "cuisine": "Bakery",
  "grades": [
     { "date": { "$date": 1393804800000 }, "grade": "A", "score": 2 },
     { "date": { "$date": 1378857600000 }, "grade": "A", "score": 6 },
     { "date": { "$date": 1358985600000 }, "grade": "A", "score": 10 },
     { "date": { "$date": 1322006400000 }, "grade": "A", "score": 9 },
     { "date": { "$date": 1299715200000 }, "grade": "B", "score": 14 }
  ],
  "name": "Morris Park Bake Shop",
  "restaurant_id": "30075445"
}
```

**Дамп: [restaurants.json](https://github.com/dataroot/DRU-DS100-w3/tree/master/tests/3/v1/restaurants.json)**.

Приклад:
```
Питання:
Напишіть запит MongoDB, щоб відобразити всі документи в колекції restaurants.
```
```
Відповідь:
db.restaurants.find();
```

### 21. Напишіть запит MongoDB, щоб відобразити вcі ресторани, які знаходяться в районі Bronx.
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
db.restaurants.find({"borough": "Bronx"}).pretty()

### 22. Напишіть запит MongoDB, щоб знайти ресторани, у який не "American" кухня і досягли пункту "А" та не належить до району Brooklyn. Результат повинен відображатися відповідно до кухні у порядку спадання.
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
db.restaurants.find(
   {
      $and: [
         {cuisine: {$ne : "American"}},
           {cuisine: {$ne : "American "}},
         {grades.grade: 'A'},
            {borough: {$ne : "Brooklyn"}}
      ]
   }
).pretty()

### 23. Напишіть запит MongoDB, щоб знайти ресторани, які досягли балів, більше 80, але менше 100.
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
db.restaurants.find({$and:[{"grades.score" : {$gt:80}}, {"grades.score" : {$lt:100}}]}).pretty()

### 24. Наведіть приклад корисного aggregate запиту для колекції restaurants та поясніть його.
```
```
```
```
```
```
```
Максимальна оцінка: 6 балів
Рекомендований час: 10хв
```

In [ ]:
---Мені цікаво скільки ресторанів у кожному районі, тож саме такий запит і будую
db.restaurants.aggregate(
   [
     { $group: { "_id": "$borough", "count": { $sum: 1 } } }
   ]
);